@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
  font-family: 'Oxygen', sans-serif;
}

a {
  color: black;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 190px;
}

.main-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer {
  height: 200px;
  display: flex;
  align-items: center;
}

/* Masonry Grid */

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}
