@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
  font-family: 'Oxygen', sans-serif;
}

a {
  color: black;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 190px;
}

.main-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer {
  height: 200px;
  display: flex;
  align-items: center;
}
